body{
    color: chartreuse;
    background-color: rgb(1, 20, 1);
}
h1{
    color: chartreuse;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 25px;
    margin: 40px;
}
input{
    margin: 10px;
}